#stalkerFrame {
	text-align: center; 
    position: fixed;
    z-index: 399;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
}

#stalkerFrame > div {
    float: right;
    padding: 20px;
}

#stalkerImage {
	padding: 10px;
	background-size: 100%;
	max-width: 90%;
	position: absolute;
	margin: auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.profilePicThumb {
	cursor:pointer;
	cursor:hand;
}